<?xml version="1.0"?>
<!--
/**
 * Menu declaration
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <!-- Assume-se que você deseja adicionar o item ao menu principal. Ajuste o 'parent' conforme necessário. -->
        <add id="Nati_OutsideSales::error_orders"
             title="Error Orders"
             module="Nati_OutsideSales"
             sortOrder="10"
             action="nati_outsidesales/order/error"
             resource="Nati_OutsideSales::error_orders"/>
        <!-- Você pode precisar definir o recurso 'resource' em acl.xml para gerenciar as permissões de acesso -->
    </menu>
</config>
